name: build
on:
  push:
    branches:
    - "**"
    tags:
    - "*.*.*"

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v3
    - run: mise check

  test:
    strategy:
      matrix:
        os:
        - windows-latest
        - macos-15-intel
        - macos-latest
        - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v3
    - if: startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS')
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: test-${{ runner.os }}-${{ hashFiles('stack.yaml.lock') }}
    - if: startsWith(runner.os, 'Windows')
      uses: actions/cache@v4
      with:
        path: |
          ~\AppData\Roaming\stack
          ~\AppData\Local\Programs\stack
        key: test-${{ runner.os }}-${{ hashFiles('stack.yaml.lock') }}
    - run: stack build --coverage --test --no-run-tests
    - run: stack test --coverage
      env:
        JUNIT_ENABLED: "1"
        JUNIT_OUTPUT_DIRECTORY: .test_report
        JUNIT_SUITE_NAME: dojang-spec
    - uses: mikepenz/action-junit-report@v4
      if: success() || failure()
      with:
        report_paths: ".test_report/*.xml"
        check_name: "test report"
    - uses: 8c6794b6/hpc-codecov-action@v3
      with:
        target: stack:spec
        excludes: Main,Paths_dojang
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  build:
    strategy:
      matrix:
        os: [windows-latest, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v3
    - if: startsWith(runner.os, 'macOS')
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: build-${{ runner.os }}-${{ hashFiles('stack.yaml.lock') }}
    - if: startsWith(runner.os, 'Windows')
      uses: actions/cache@v4
      with:
        path: |
          ~\AppData\Roaming\stack
          ~\AppData\Local\Programs\stack
        key: build-${{ runner.os }}-${{ hashFiles('stack.yaml.lock') }}
    - if: github.ref_type != 'tag'
      run: >-
        stack build
        --ghc-options=-O2
        --copy-bins
        --local-bin-path="${{ runner.temp }}/dojang-bins/"
        --ghc-options=-DDOJANG_DEV_BUILD=${{ github.run_number }}
    - if: github.ref_type == 'tag'
      run: >-
        stack build
        --ghc-options=-O2
        --flag dojang:static
        --copy-bins
        --local-bin-path="${{ runner.temp }}/dojang-bins/"
    - uses: allejo/setup-dasel@v1
      with:
        version: v3.2.1
    - if: startsWith(runner.os, 'macOS')
      shell: bash
      run: |
        set -e
        cp ./LICENSE "$RUNNER_TEMP/dojang-bins/"
        scripts/make-dist.sh "$RUNNER_TEMP/dojang-bins/"
        mv dojang-*.tar.xz "$RUNNER_TEMP/"
    - if: startsWith(runner.os, 'Windows')
      shell: pwsh
      run: |
        Copy-Item .\LICENSE $env:RUNNER_TEMP\dojang-bins\
        & scripts\make-dist.ps1 $env:RUNNER_TEMP\dojang-bins\
        Move-Item dojang-*.zip $env:RUNNER_TEMP\
    - uses: actions/upload-artifact@v4
      with:
        name: dist-${{ matrix.os }}
        path: ${{ runner.temp }}/dojang-*-*-*.*

  build-linux:
    strategy:
      matrix:
        include:
        - runner: ubuntu-latest
          arch: x86_64
        - runner: ubuntu-24.04-arm
          arch: aarch64
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
    - id: build-image
      if: github.ref_type != 'tag'
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:git-${{ github.sha }}-${{ matrix.arch }}
        cache-from:
          type=registry,ref=ghcr.io/${{ github.repository }}:build-cache-${{ matrix.arch }}
        cache-to:
          type=registry,ref=ghcr.io/${{ github.repository }}:build-cache-${{ matrix.arch }},mode=max
        build-args: DOJANG_DEV_BUILD=${{ github.run_number }}
    - if: github.ref_type == 'tag'
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:git-${{ github.sha }}-${{ matrix.arch }}
          ghcr.io/${{ github.repository }}:${{ github.ref_name }}-${{ matrix.arch }}
        cache-from:
          type=registry,ref=ghcr.io/${{ github.repository }}:build-cache-${{ matrix.arch }}
        cache-to:
          type=registry,ref=ghcr.io/${{ github.repository }}:build-cache-${{ matrix.arch }},mode=max
    - name: Install dasel
      run: |
        case "${{ matrix.arch }}" in
          x86_64) dasel_arch="amd64" ;;
          aarch64) dasel_arch="arm64" ;;
        esac
        curl -fsSL \
          "https://github.com/TomWright/dasel/releases/download/v3.2.1/dasel_linux_$dasel_arch" \
          -o /usr/local/bin/dasel
        chmod +x /usr/local/bin/dasel
    - run: |
        set -e
        mkdir -p "$RUNNER_TEMP/dojang-bins/"
        if [[ "$GITHUB_REF_TYPE" = tag ]]; then
          tag="$GITHUB_REF_NAME"
        else
          tag="git-$GITHUB_SHA"
        fi
        docker run "ghcr.io/$GITHUB_REPOSITORY:$tag-$ARCH" \
          cat /usr/local/bin/dojang \
            > "$RUNNER_TEMP/dojang-bins/dojang"
        cp ./LICENSE "$RUNNER_TEMP/dojang-bins/"
        scripts/make-dist.sh "$RUNNER_TEMP/dojang-bins"
        mv dojang-*.tar.xz "$RUNNER_TEMP/"
      env:
        DIGEST: ${{ steps.build-image.outputs.digest }}
        ARCH: ${{ matrix.arch }}
    - uses: actions/upload-artifact@v4
      with:
        name: dist-linux-${{ matrix.arch }}
        path: ${{ runner.temp }}/dojang-*-*-*.*

  build-linux-manifest:
    needs: build-linux
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
    - if: github.ref_type != 'tag'
      run: |
        docker buildx imagetools create -t \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA" \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA-x86_64" \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA-aarch64"
    - if: github.ref_type == 'tag'
      run: |
        docker buildx imagetools create -t \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA" \
          -t "ghcr.io/$GITHUB_REPOSITORY:$GITHUB_REF_NAME" \
          -t "ghcr.io/$GITHUB_REPOSITORY:latest" \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA-x86_64" \
          "ghcr.io/$GITHUB_REPOSITORY:git-$GITHUB_SHA-aarch64"

  doc:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v3
    - run: "mise doc:build"
    - uses: actions/upload-pages-artifact@v3
      with:
        path: ./site

  deploy-pages:
    needs: doc
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4

  release:
    needs: [check, test, build, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v3
    - uses: actions/download-artifact@v4
      with:
        pattern: dist-*
        path: ${{ runner.temp }}/dist
        merge-multiple: true
    - run: |
        set -e
        stack sdist
        mkdir -p "$RUNNER_TEMP/dist/"
        cp "$(stack path --dist-dir)"/dojang-*.tar.gz \
          "$RUNNER_TEMP/dist/"
        mkdir -p "$RUNNER_TEMP/sdist/"
        mv "$(stack path --dist-dir)"/dojang-*.tar.gz \
          "$RUNNER_TEMP/sdist/"
    - run: ls -al ${{ runner.temp }}/dist/
    - run: ls -al ${{ runner.temp }}/sdist/
    - id: lookup-version
      uses: mikefarah/yq@v4.35.2
      with:
        cmd: yq .version package.yaml
    - run: echo "$VERSION"
      env:
        VERSION: ${{ steps.lookup-version.outputs.result }}
    - if: github.ref_type == 'tag'
      run: '[[ "$VERSION" = "$GITHUB_REF_NAME" ]]'
      env:
        VERSION: ${{ steps.lookup-version.outputs.result }}
    - id: extract-changelog
      uses: dahlia/submark@5a5ff0a58382fb812616a5801402f5aef00f90ce
      with:
        input-file: CHANGES.md
        heading-level: 2
        heading-title-text: version ${{ steps.lookup-version.outputs.result }}
        ignore-case: true
        omit-heading: true
    - run: 'cat "$CHANGES_FILE"'
      env:
        CHANGES_FILE: ${{ steps.extract-changelog.outputs.output-file }}
    - if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v1
      with:
        body_path: ${{ steps.extract-changelog.outputs.output-file }}
        name: Dojang ${{ steps.lookup-version.outputs.result }}
        generate_release_notes: false
        discussion_category_name: Announcements
        files: ${{ runner.temp }}/dist/dojang-*
    - if: github.ref_type == 'tag'
      env:
        HACKAGE_API_KEY: ${{ secrets.HACKAGE_API_KEY }}
      run: |
        for file in "$RUNNER_TEMP/sdist"/*; do
          curl \
            -H "Authorization: X-ApiKey $HACKAGE_API_KEY" \
            -F package=@"$file" \
            https://hackage.haskell.org/packages/
        done

# cSpell:ignore allejo buildx codecov dasel DDOJANG hackage mikefarah
# cSpell:ignore mikepenz mkdocs noreply popd pushd
# cSpell:ignore sdist softprops submark
